* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  min-width: 34px;
}

.emphasis {
  color: #d00;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board-row {
  display: flex;
}
.game-board {
  padding: 1%;
  overflow: auto;
  display: inline-block;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 20px;
}
#history-list {
  list-style-type: square;
  padding-left: 20px;
  height: 200px;
  overflow: auto;
  padding: 5px 10px;
  border: #999 1px solid;
}
.status {
  justify-content: space-between;
  display: flex;
}