* {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

button {
  background-color: #515158;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:not(.square) {
  margin: 0 2px;
}

button:not(.square):not(:disabled):hover {
  background-color: #1010a8;
}

button:disabled {
  background-color: #cccccc;
  cursor: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  color: black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  flex: 1 1 auto;
  aspect-ratio: 1;
  min-width: 40px;
}

.square.clicked:hover {
  cursor: default;
} 

.emphasis {
  color: #d00;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board-row {
  display: flex;
  flex: 1 1 auto;
}
.game-board {
  padding: 1%;
  overflow: auto;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.status {
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#left-panel {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.description {
  font-style: italic;
  margin-top: -5px;
  height: 70px;
}

.game-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1 1 auto;
}
#history-list {
  list-style-type: square;
  padding-left: 20px;
  height: 200px;
  overflow: auto;
  padding: 5px 10px;
  border: #999 1px solid;
}
#history-list button {
  width: 100%;
  margin-bottom: 2px;
}